# .gitignore file at the root


gcs-key.json
google-credentials.json
firebase-service-account.json
servicekey.json
node_modules/
env


bprofiles-54714-firebase-adminsdk-fbsvc-d751881313.json

bprofiles-54714-firebase-adminsdk-fbsvc-95fdab3f70.json

bprofiles-54714-firebase-adminsdk-fbsvc-035dca421e.json
bprofiles-54714-firebase-adminsdk-fbsvc-6101e1870e.json
